<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="iNethinkCMS">
  <conn_configuration>
    <DataBaseServer>121.43.148.202</DataBaseServer>
    <DataBasePort>0</DataBasePort>
    <DataBaseUser>sa</DataBaseUser>
    <DataBasePass>BigProject123</DataBasePass>
    <DataBaseName>iNethinkCMS</DataBaseName>
  </conn_configuration>
</xs:schema>