<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="iNethinkCMS">
  <seo_configuration>
    <AutoDescription>1</AutoDescription>
    <SeoTitle><![CDATA[]]></SeoTitle>
    <IndexKeywords><![CDATA[]]></IndexKeywords>
    <IndexDescription><![CDATA[]]></IndexDescription>
  </seo_configuration>
</xs:schema>