<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="iNethinkCMS">
  <sys_versions>
    <VersionsTime><![CDATA[20130725]]></VersionsTime>
    <VersionsKey><![CDATA[]]></VersionsKey>
  </sys_versions>
  <sys_configuration>
    <WebName><![CDATA[大项目后台管理页面]]></WebName>
    <InstallDir><![CDATA[/]]></InstallDir>
    <UrlMode>1</UrlMode>
    <TemplateCache>false</TemplateCache>
    <WebPageCache>false</WebPageCache>
    <CacheKey><![CDATA[CacheKey]]></CacheKey>
    <CacheTime>1200</CacheTime>
    <TemplateDir><![CDATA[/template/BigProject/]]></TemplateDir>
    <IndexTemplateName>index.html</IndexTemplateName>
    <RewriteExtName><![CDATA[aspx]]></RewriteExtName>
    <RewriteChannelPrefix><![CDATA[channel]]></RewriteChannelPrefix>
    <RewriteSpecialPrefix><![CDATA[special]]></RewriteSpecialPrefix>
    <RewriteContentPrefix><![CDATA[content]]></RewriteContentPrefix>
    <RewriteGuestbookPrefix><![CDATA[guestbook]]></RewriteGuestbookPrefix>
    <RemoteImgDown>true</RemoteImgDown>
    <UpFileType><![CDATA[zip,rar,txt,doc,docx,xls,xlsx,jpg,jpeg,gif,png,bmp,swf,wmv,avi,wma,mp3,mid]]></UpFileType>
    <UpFileMaxSize>10240</UpFileMaxSize>
    <PageListNum>10</PageListNum>
    <DisplayTitleRule>true</DisplayTitleRule>
    <ImageSeconds>5</ImageSeconds>
	<Versions>1.0.0</Versions> 
  </sys_configuration>
</xs:schema>