 html, body {
		        position: relative;
		        height: 100%;
		    }
		    body {
		        background: #eee;
		        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		        font-size: 14px;
		        color:#000;
		        margin: 0;
		        padding: 0;
		    }
		    .swiper-container {
		        width: 100%;
		        height: 100%;
		    }
		    .swiper-slide {
		        text-align: center;
		        font-size: 18px;
		        background: #000000;
				color: white;
		        /* Center slide text vertically */
		        display: -webkit-box;
		        display: -ms-flexbox;
		        display: -webkit-flex;
		        display: flex;
		        -webkit-box-pack: center;
		        -ms-flex-pack: center;
		        -webkit-justify-content: center;
		        justify-content: center;
		        -webkit-box-align: center;
		        -ms-flex-align: center;
		        -webkit-align-items: center;
		        align-items: center;
		    }

        /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
#slide1{
	background-image: url(/template/BigProjectProtal/img/monkey1.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	background-size: 20%;
}
#slide2{
	background-image: url(/template/BigProjectProtal/img/monkey2.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: 75%;
	background-size: 50%;
	font-size: 40px;
}
.swiper-pagination-bullet{background-color: white;}
.swiper-pagination-bullet-active{}
*{
	font-family: "微软雅黑";
}
.h1{
	line-height: 3;
	font-size: 20px;
}
